name: Gradle Dependency Submission
on:
  push:
    branches: [main]

jobs:
  gradle-action-detection:
    runs-on: ubuntu-latest
    # The Dependency Submission API requires write permission
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Run snapshot action
        uses: mikepenz/gradle-dependency-submission@main
        with:
          gradle-build-module: |-
            cli
          gradle-build-configuration: |-
            compileClasspath
          sub-module-mode: 'INDIVIDUAL_DEEP'
