name: Qodana
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  qodana-jvm:
    runs-on: ubuntu-latest

    # The CodeQL Action requires security write permission
    permissions:
      security-events: write

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Build
        run: ./gradlew --no-daemon build -x test

      - uses: JetBrains/qodana-action@v2023.2
        with:
          pr-mode: false
          cache-default-branch-only: true

      - uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
